@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(32, 35, 41);
}

.contenedor-titulo {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem;
    background-color: white;
}

.titulo {
    color: #3b3d50;
}

.display-1 {
    font-weight: 800;
}

.display-2 {
    font-weight: 700;
}

.formulario {
    margin-top: 10px;
}

.contenedor-general {
    background-color: rgb(36, 40, 47);
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-card {
    display: flex;
    justify-content: center;
    align-items: center;
}



.imagen {
    width: 100%;
}

.card {
    background-color: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 10px auto;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px
}

.card-title {
    color: white;
    margin-top: 10px;
    font-weight: 600;
}

.card-text {
    color: rgb(158, 158, 158);

}

.card-info {
    color: rgb(245, 245, 245);
}

p {
    font-size: 1.150rem;
}

.imagen {
    flex: 2 1 0%;
    width: 100%;
}


.img-img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    pointer-events: none;
}

section {
    margin-bottom: 10px;
}

p { margin-bottom: 0;}
.nombre {
    font-size: 2rem;
}

.card {
    max-width: 600px;
    width: 600px;
    height: 250px;
    justify-content: center;

}


.btn-prev {
    margin-right: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.cta {
    margin-top: auto;
}


.fondo-rick {
    background-image: url(.//imagen.png);
    background-position: center;
    background-size: cover;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 320px;
}

.herosvg {
    width: 100%;
    height: 100%;
    fill: rgb(245, 245, 245);
    overflow: hidden;
}

.icono-github {
    color: white;
    transition: 0.3s ease-in;
}

.icono-github:hover{
    color: black;
}

@media screen and (max-width: 768px){
    .card {
        max-width: 350px;
        width: auto;
        height: auto;

    }
}

@media screen and (max-width: 992px){
    .col-md-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}